<!DOCTYPE html>
<html ng-csp="">
<head>
    <title>[[Title]]</title>
    <link rel="stylesheet" href="content/css/select2.css" />
    <link rel="stylesheet" href="content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="content/css/frame.css" />
    <link rel="stylesheet" href="content/css/comments.css" />
    <link rel="stylesheet" href="content/css/jquery.lwMultiSelect.css" />
    <link rel="stylesheet" href="/content/font-awesome.min.css" />
    <script>
    window.localization = {
        "tabDisscussionTiitle": "[[Disscussion]]",
        "tabWikiTiitle": "[[Wiki]]",
        "tabFAQTiitle": "[[FAQ]]",
        "userGuest": "[[Guest]]",
        "tabManageTiitle": "[[Manage]]",
        "noWikiAvaliable": "[[NoWikiAvaliable]]",
        "Registration": "[[Registration]]",
        "userExists": "[[userExists]]",
        "SearchPlaceholder": "[[SearchPlaceholder]]"
    }
    </script>
    <script type="text/javascript" src="compiled.js"></script>
    <script src="scripts/lib/tinymce/tinymce.min.js"></script>
</head>
<body ng-controller="mainCtrl">
    <div id="recivedData"></div>
    <div class="CI_panel">
        <div class="CI_panel-buttons">
            <a href="/help" target="_blank" class="CI_icon-help CI_icon"></a>
            <i class="CI_icon-refresh CI_icon"></i>
        </div>
        <div class="CI_thread-selector">
            <input id="thread_box" type="text" name="thread" ng-model="thread" ng-change="onThreadSelect()" />
        </div>
        <div class="CI_language-selector">
            <input id="language_box" type="text" name="language" ng-model="language" ng-change="onThreadSelect()" />
        </div>
    </div>

    <div ng-controller="bannerCtrl">
               <ng-include src="urlBanners"></ng-include>
        
    </div>

<div class="CI_tabset" ng-controller="TabsCtrl">
        <ng-include src="threadTemplate"></ng-include>
    </div>

    <!-- Popup: unauthorized -->
    <div class="CI_popup popup-authorize" style="display: none" ng-controller="authorizationController">
        <div class="CI_popup_messagebox">
            <i class="pull-right close CI_popup_close">X</i>
            <p><span style="font-size: larger">[[Authorization]]</span> </p>
            <table>
                <tr>
                    <td align="right">[[Username]]:</td>
                    <td><input type="text" ng-model="username" ng-change="authError=false;"/></td>
                </tr>
                <tr>
                    <td align="right">[[Password]]:</td>
                    <td><input type="password" ng-model="password" ng-change="authError=false;"/></td>
                </tr>
            </table>
            <p class="red" ng-style="{'visibility': authError ? 'visible' : 'hidden'}">[[Invalid username or password]]</p>
            <div>
                <a class="pull-left" href="/ru/Account/Register">[[Registration]]</a>
                <button ng-click="login()">[[SignIn]]</button>
                <button class="CI_popup_close">[[Cancel]]</button>
            </div>
            <social-login-buttons style="margin-top: 8px; display: block"></social-login-buttons>
        </div>
    </div>

    <!-- Popup: ban time counter-->
    <div class="CI_popup popup-ban-time-counter" style="display: none">
        <div class="CI_popup_messagebox">
            <p><span style="font-size: larger">[[Attention]]</span> </p>
            <p>[[PleaseWaitToComment]]</p>
            <p class="ban-time-count"></p>
            <p><a href='#' class="CI_popup_close">[[Ok]]</a></p>
        </div>
    </div>
    
    <!-- Popup: settings -->
    <div class="CI_popup popup-settings" style="display: none" ng-controller="optionsController">
        <div class="CI_popup_messagebox" align="center">
            <i class="pull-right close">X</i>
            <p>Filter: <input type="text" id="lang-textbox" /> </p>
            <select id="lang-select" multiple>
            
            </select>
        </div>
    </div>

    <!-- Templates -->

    <script type="text/ng-template" id="banners.html">
        <a href="{{contentBanners[0].Href}}" target="_blank" title="{{contentBanners[0].Text}}">
            <div style="{{Style}}">{{contentBanners[0].Text}}</div>
        </a>
    </script>

<script type="text/ng-template" id="tabs.html">
        <div ng-controller="TabsCtrl" class="CI_main-tabs">
            <tabset>
                <tab id="tab_{{tab.id}} "ng-repeat="tab in tabs" select="foo(tab)" active="tab.active" disabled="tab.disabled" class="{{tab.className}}">
                    <tab-heading>
                        {{tab.title}}
                        <div class="tab-toolbar" ng-include="tab.toolbar"></div>
                    </tab-heading>

                    <div class="CI_tab CI_scrollable" >
                        <ng-include src="tab.templateUrl"></ng-include>
                    </div>
                </tab>
            </tabset>
        </div>
    </script>

    <script type="text/ng-template" id="toolbar-wiki.html">
        <div ng-controller="wikiController_toolbar">
            <a href="#" ng-click="click('edit')"><span class="icon">&#9999;</span><span class="text">[[Edit]]</span></a>
        </div>
    </script>

<script type="text/ng-template" id="toolbar-profile.html">
        <div ng-controller="profileController_toolbar" ng-click="click('', $event)" ng-mouseenter="mEnter()" ng-mouseleave="mLeave()">
            <div class="profile-info">
                <i class="CI_icon-user"></i>
                <span class="CI_username">{{user.username}}</span>
                <span class="CI_score">{{score}}</span>
            </div>
            <div class="profile-menu">
                <a href="options.html" target="_blank" ng-click="click('settings', $event)">[[Settings]]</a>
                <a href="/account" target="_blank" ng-click="click('account', $event)" ng-show="user.isAuthenticated">[[Account]]</a>
                <a href="/login" target="_blank" ng-click="click('login', $event)" ng-show="!user.isAuthenticated">[[SignIn]]</a>
                <a href="#" ng-click="click('logout', $event)" ng-show="user.isAuthenticated">[[SignOut]]</a>
            </div>
        </div>
    </script>
    
    <script type="text/ng-template" id="toolbar-plus.html">
        <div ng-controller="plusController_toolbar" ng-click="click('', $event)" ng-mouseenter="mEnter()" ng-mouseleave="mLeave()">
            <a href="#" ng-show="show_wiki" ng-click="click('wiki', $event)">[[Wiki]]</a>
            <a href="#" ng-show="show_faq" ng-click="click('faq', $event)">[[FAQ]]</a>
        </div>
    </script>

    <script type="text/ng-template" id="wiki.html">
        <div ng-controller="wikiController" class="CI_controller_container">
            <tabset ng-show="editmode" class="edit-wiki light-tabs">
                <tab heading="[[SetLink]]">
                    <input type="text" ng-model="$parent.link" />
                    <button ng-click="submitUrl()">[[Submit]]</button>
                    <button ng-click="cancel()">
                        Cancel
                    </button>
                    <span style="color:red;" ng-show="$parent.wikiTypeIsLink">{{$parent.linkInvalid}}</span>
                </tab>
                <tab heading="[[EditText]]">
                    <textarea class="tinymce-editor" ui-tinymce="tinymceOptions" ng-model="$parent.editorcontent" id="wiki_edit"></textarea>
                    <button ng-click="submitEditor()">[[Submit]]</button>
                    <button ng-click="cancel()">[[Cancel]]</button>
                </tab>
            </tabset>
            <div ng-bind-html="htmlcode" ng-show="!editmode" style="{{StyleForWiki}}"></div>
        </div>
    </script>


<script type="text/ng-template" id="discussion.html">
        <div ng-controller="discussionController">
            <div class="CI_toolbar">
                <a href="#" ng-click="clickNewComment()">[[Write new comment]]</a>
                <!-- -comments search- -->
                <!--
                <button class="pull-right">search</button>
                <input type="search" class="pull-right" />
                -->
            </div>

            <input type="checkbox" style="display:none" data-ng-model="answerIsExpanded" id="answer_{{item.CommentId}}" />
            <div ng-if="answerIsExpanded" style="margin: 0 15px">
                <answer-form show="$parent.answerIsExpanded"></answer-form>
            </div>
            <treeview></treeview>
        </div>

    </script>


    <script type="text/ng-template" id="faq.html">
        <div ng-controller="faqController" class="faq">
            <input type="checkbox" style="display:none" data-ng-model="editorIsExpanded" id="edit_" />
            <label for="edit_" data-ng-switch on="editorIsExpanded" ng-click='clickEditor()'>
                <span data-ng-switch-when="undefined">[[Add]]</span>
                <span data-ng-switch-when="true">[[Close]]</span>
                <span data-ng-switch-when="false">[[Add]]</span>
            </label>
            <div ng-if="editorIsExpanded" ng-include="'addForm.html'"></div>

            <accordion>
                <accordion-group is-open="isopen" ng-repeat="item in faqList" id="question_{{item.id}}">
                    <input type="checkbox" style="display:none" data-ng-model="editorIsExpanded" id="edit_{{item.id}}" />
                    <accordion-heading>
                        <div ng-show='editorIsExpanded'>
                            <input type="text" ng-model="item.question" placeholder="Question" class="CI_faqTitleEditor" ng-click="stopProp($event)" />
                        </div>
                        <div ng-show='!editorIsExpanded'>
                            <b>{{item.question}}</b>
                            <div class="CI_faqRaiting" ngclick="stopProp($event)">
                                <a class="left-div-count" ng-click="vote(true, item, $event)">
                                    <b>▲</b>
                                </a>
                                <span>{{item.weight | number:0}}</span>
                                <a class="right-div-count" ng-click="vote(false, item, $event)">
                                    <b>▼</b>
                                </a>
                            </div>
                        </div>
                    </accordion-heading>
                    <div ng-bind-html="item.answerHtml" ng-show='!editorIsExpanded'>
                    </div>
                    <div ng-show='editorIsExpanded'>
                        <div ng-if="editorIsExpanded" ng-include="'faqTextEditor.html'"></div>
                    </div>
                    <label for="edit_{{item.id}}" data-ng-switch on="editorIsExpanded" style="margin-bottom:-10px;margin-top:15px">
                        <span data-ng-switch-when="undefined">[[Edit]]</span>
                        <span data-ng-switch-when="true" ng-click='update(item)'>[[Submit]]</span>
                        <span data-ng-switch-when="false">[[Edit]]</span>
                    </label>
                </accordion-group>
            </accordion>
            <br />
            <pagination total-items="bigTotalItems" page="bigCurrentPage" items-per-page="itemsPerPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" on-select-page="onSelectPage(page)"></pagination>
        </div>
    </script>



    <script type="text/ng-template" id="tree.html">
        <div class="sl-treeview">
            <div class="clear" infinite-scroll="addMoreItems()" infinite-scroll-distance="0" infinite-scroll-immediate-check="immediateCheck" infinite-scroll-disabled="scrollDisabled">
                <treeview-item ng-repeat="item in items" item="item"></treeview-item>
            </div>
        </div>
    </script>


<script type="text/ng-template" id="item.html">
        <div id="{{item.CommentId}}" class="comment-container" ng-class="{'is-new': item.isNew}" ng-mouseenter="item.isNew = false;">
            <div class="item">
                <div class="top-line">
                    <div class="left">
                        <a href="#" id="userName">{{item.UserName}}</a>
                        <label id="date">{{item.Created | date:'dd MMMM yyyy H:mm'}}</label>
                    </div>
                    <div class=right>
                        <a class="left-div-count" ng-click="vote(true)" ng-show="voteAvaliable()">
                            <b>▲</b>
                        </a>
                        <label id="count" title="{{item.VoteUp + item.VoteDown}}: ↑{{item.VoteUp}} ↓{{item.VoteDown}} ">{{item.VoteUp - item.VoteDown}}</label>
                        <a class="right-div-count" ng-click="vote(false)" ng-show="voteAvaliable()">
                            <b>▼</b>
                        </a>
                    </div>
                </div>
                <div class="message-container" ng-bind-html="item.Message"></div>
                <div class="bottom-line">
                    <div>
                        <span data-ng-show="item.HasChildren!=false">
                            <input type="checkbox" data-ng-model="isCollapsed" id="showAll{{item.CommentId}}" />
                            <label for="showAll{{item.CommentId}}" data-ng-switch on="isCollapsed" ng-click="expandClick()">
                                <span data-ng-switch-when="undefined">[&#x2013;] [[Collapse]] ↑</span>
                                <span data-ng-switch-when="true">[+] [[Expand]]&nbsp; ↓</span>
                                <span data-ng-switch-when="false">[&#x2013;] [[Collapse]] ↑</span>
                            </label>
                        </span>
                        <label ng-click="clickAnswer()" class="right">[[Answer]]</label>
                    </div>
                </div>
                <div  ng-if="answerIsExpanded"><answer-form show="$parent.answerIsExpanded" parent-comment-id="item.CommentId"></answer-form></div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="social-login-buttons.html">
        <a ng-repeat="provider in externalLoginList" ng-click="socialLogin( provider.name)" class="social fa {{provider.cssClass}} hand" style="background-color:{{provider.bg}}">&nbsp;</a>
    </script>

<script type="text/ng-template" id="answer-form.html">
        <div ng-if="(!user.isAuthenticated)">
            <input type="text" ng-model="$parent.username" name="username" placeholder="[[Your name]]" ng-class="{red : $parent.username_error }" title="{{$parent.username_tooltip}}"/> [[or]]
            <a class="sendAnswer" href="" target="_blank" ng-click="login()">[[SignIn]]</a>
            <social-login-buttons></social-login-buttons>
            <div ng-if="(!user.username_error)" class="red">{{$parent.username_tooltip}}</div>
        </div>
            <textarea class="CI_CommentTextArea" style="width: 100%" ng-model="text" placeholder="[[Write comment here...]]" id="{{item.CommentId}}_CommentTextArea"></textarea>
            <button class="sendAnswer" ng-click="sendAnswer()">[[Send]]</button>
            <button ng-click="close()">[[Close]]</button>
    </script>

        <script type="text/ng-template" id="addForm.html">
            <strong>Add question</strong>
            <br />
            <input type="text" ng-model="question" placeholder="Question" class="CI_faqTitleEditor" />
            <textarea style="width: 100%" ng-model="answer" placeholder="Answer" class="tinymce-editor" ui-tinymce="tinymceOptions"></textarea>
            <br />
            <button class="sendAnswer" ng-click="add()">[[Submit]]</button>

        </script>
        <script type="text/ng-template" id="faqTextEditor.html">
            <textarea style="width: 100%" class="tinymce-editor" ui-tinymce="tinymceOptions" ng-model="item.answer" placeholder="[[Answer]]"></textarea>
            <br />
        </script>
    <!-- Yandex.Metrika counter -->
<script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter25354751 = new Ya.Metrika({id:25354751, webvisor:true, ut:"noindex"}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/25354751?ut=noindex" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
</body>
</html>
