/*override bootstrap variables*/
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;
$btn-border-radius-base: 0;
$btn-border-radius-large: 0;
$btn-border-radius-small: 0;
$navbar-height: 33px;
$navbar-margin-bottom: 0;
$padding-base-vertical: 6px;
$padding-base-horizontal: 12px;
$font-size-base: 14px;
