$loader-z-index: 1000;
$loader-padding-top: 100px;
$loader-background-opacity: 0.5;
$loader-background-color: $body-bg;
$loader-width: 70px;
$language-menu-min-width: 90px;
$fa-icon-width: 12px;
$tab-content-wrapper-top: 80px;
$textarea-min-height: 100px;
$language-selector-width: 300px;
$banner-height: 51px;
$thread-info-width: 70px;
$thread-info-top: 10px;
$thread-info-right: 15px;
$moderator-color: lighten($brand-danger, 20%);
$moderator-icon-size: 25px;
