#ContextInfoDiv {
    position: fixed;
    top: 0px;
    padding: 0px 0px 0px 3px;
    height: 100%;
    background: grey;
    cursor: col-resize;

    -webkit-box-shadow: -2px 2px 13px rgba(50, 50, 50, 0.5);
    -ms-box-shadow: -2px 2px 13px rgba(50, 50, 50, 0.5);
    box-shadow: -2px 2px 13px rgba(50, 50, 50, 0.5);

    z-index: 19999999999;

    -webkit-transition: .3s all linear;
    -moz-transition: .3s all linear;
    -ms-transition: .3s all linear;
    -o-transition: .3s all linear;
    transition: .3s all linear;
}

#ContextInfoFrame {
    position: relative;
    height: 100%;
    width: 100%;
    cursor: default;
    background: white;
    border: 0px;
}

#CIlabel {
    display: block;
    position: absolute;
    left: -29px;
    top: 45%;
    width: 20px;
    height: 16px;
    background: white;
    color: grey;
    font-size: larger;
    margin: 0;
    
    vertical-align: central;
    text-align: center;
    
    font-family: Arial;
    font-size: medium;

    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 3px;
    padding-right: 7px;


    border: grey solid;
    border-top-width: 3px;
    border-left-width: 3px;
    border-bottom-width: 3px;
    border-right-width: 0;

    -ms-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -ms-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;

    -webkit-box-shadow: -2px 2px 13px rgba(50, 50, 50, 0.5);
    -ms-box-shadow: -2px 2px 13px rgba(50, 50, 50, 0.5);
    box-shadow: -2px 2px 13px rgba(50, 50, 50, 0.5);
}

#CIlabel:hover {
    cursor: pointer;

}



input.toggle:checked ~ #ContextInfoDiv {
    right: 0px;
}
#ContextInfoDiv > #CIlabel > div {
    transition: .1s all;
    cursor: pointer;
    vertical-align: central;
    top:50%
}
input.toggle:checked ~ #ContextInfoDiv > #CIlabel > div {
    -webkit-transform: rotate(180deg);
}

input.toggle {
    display: none;
}


